# 🐍 Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# 📦 Entornos virtuales
env/
venv/
.venv/

# 🧪 Archivos temporales o de logs
*.log
*.tmp
*.bak
*.swp

# ⚙️ Configuración del entorno de desarrollo
.vscode/
.idea/

# 🛠️ Archivos ejecutables generados
*.exe
*.zip
dist/
build/

# 🖥️ Archivos del sistema (Mac / Windows)
.DS_Store
Thumbs.db